* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Shadows Into Light', sans-serif;
  font-weight: bold;
}

p {
  font-size: 30px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  margin-bottom: 20px;
}

h3 {
  font-size: .8em;
  color: black;
}

/* NAVBAR SECTION */

.container {
  width: 80%;
  margin: 0 auto;
}

span {
  font-weight: bold;
  color: gold;
}

header {
  background: linear-gradient(black, gold);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  width: 40px;
  height: 80px;
  float: left;
  padding: 0 0;
  
  margin-left: 20px;
  font-size: 2em;
  color: white;
}

.logo-two {
  float: left;
  height: 10px;
  margin-top: 45px;
  margin-left: 0;
  padding: 0;
  font-size: 1em;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 80px;
  padding-top: 35px;

  /* pseudo-element for hover effect */
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #D4AF37;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #D4AF37;
  position: absolute;
  width: 100%;
  top: 25px;
  width: 0;

/* pseudo-element for hover effect */
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* ABOUT SECTION */

.about {
  text-align: center;
  color: #D4AF37;
  font-size: 3em;
  margin-top: 20px;
}

.about h3 {
  font-size: 1em;
  text-align: center;
  color: #D4AF37;
}

.about img {
  width: 300px;
  height: 300px;
}

/* PROJECTS SECTION */

.projects {
  text-align: center;
  color: #D4AF37;
  font-size: 2em;
  margin-top: 70px;
}

.fotorama {
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  
}


.gallery {
  margin: 30px auto;
}
.gallery img {
  width: 180px;
  height: 175px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* PRICING SECTION */

.pricing {
  text-align: center;
  color: #D4AF37;
  font-size: 2em;
  margin-top: 70px;
}

.pricingList h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 70px;
  color: #D4AF37;
}

.pricingList h2 {
  text-align: center;
  font-size: 2em;
}

.pricingList li {
  text-align: center;
  font-size: 30px;

}

form {
  text-align: center;
  margin-left: 5px;
}

/*REVIEWS SECTION*/

.reviews {
  text-align: center;
}

.reviews h1 {
  text-align: center;
  font-size: 3em;
  color: #D4AF37;
}

.reviews p {
  margin-bottom: 75px;
}

.elfsight-app-1310efa7-fd95-43c4-a5bc-7ea6896672ce{
  margin-bottom: 75px;
}

/* CONTACT SECTION */

.contact {
  text-align: center;
  color: #D4AF37;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 70px;
}

.link-img {
  width: 150px;
  height: 150px;
}

/* FOOTER */

footer {
  text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px){
  /*For tablet*/
    .about img {
      width: 225px;
      height: 225px;
   }
    
    nav {
      display: none;
    }
    h1 {
      font-size: 1.1em;
    }
    form {
      margin-left: 40px;
      margin-right: 40px;
    }
    p {
      font-size: 20px;
    }

    .fotorama {
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
    }

    .pricingList li {
      text-align: center;
      font-size: 20px;
    }
    .elfsight-app-1310efa7-fd95-43c4-a5bc-7ea6896672ce {
      margin-left: 600px;
  }

  @media only screen and (min-width: 768px) and (orientation: landscape){
    /*For tablet: Landscape*/
    .elfsight-app-1310efa7-fd95-43c4-a5bc-7ea6896672ce {
      margin-right: 850px;
  }
  }

@media only screen and (min-width: 1281px) {
    /*For desktops*/
    .elfsight-app-1310efa7-fd95-43c4-a5bc-7ea6896672ce {
      margin-left: 600px;
  }
  form {
    text-align: center;
    margin-right: none;
  }
}
  
  
  
  

