* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("../images/rustic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Shadows Into Light', sans-serif;
    font-weight: bold;
  }
  
  p {
    font-size: 30px;
    color: rgb(2, 2, 75);
    margin-left: 10px;
    margin-right: 10px;
  }
  
  h1 {
    margin-bottom: 20px;
    color:rgb(2, 2, 75);
  }
  
  h3 {
    font-size: .8em;
    color:rgb(2, 2, 75);
  }
  
  /* NAVBAR SECTION */
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  span {
    font-weight: bold;
    color: white;
  }
  
  header {
    background: rgb(2, 2, 75);
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .logo {
    width: 40px;
    height: 80px;
    float: left;
    padding: 0 0;
    
    margin-left: 20px;
    font-size: 2em;
    color: white;
  }
  
  #logo-two {
    float: left;
    height: 10px;
    margin-top: 45px;
    margin-left: 0;
    padding: 0;
    font-size: 1em;
    color: white;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 55px;
    padding-top: 20px;
    font-size: 1.5em;
  
    /* pseudo-element for hover effect */
    position: relative;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: white;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 15px;
    width: 0;
  
  /* pseudo-element for hover effect */
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  
  
  /* PRICING SECTION */

.pricing {
    text-align: center;
    color: rgb(2, 2, 75);
    font-size: 2em;
    margin-top: 70px;
  }
  
  .pricingList h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 70px;
    color:  rgb(2, 2, 75);
  }
  
  .pricingList h2 {
    text-align: center;
    font-size: 2em;
    color:  rgb(2, 2, 75);
  }
  
  .pricingList li {
    text-align: center;
    font-size: 30px;
    color:  rgb(2, 2, 75);
  
  }
  
  form {
    text-align: center;
    margin-left: 150px;
    max-width: 75%;
    max-height: 50%;
  }

  /* FOOTER */

footer {
    text-align: center;
  }